.header {
    border: 25px solid #D5467;
    padding: 40px;
    text-align: center;
}


.header2{
    padding-top: 10px;
    text-align: center;
    padding: 10px;
}

.pad{
    padding: 100px;
  }
    /*text-align: center;
}

.centered{
    text-align:center;
}*/

.sectioning{
    padding-top: 30px;
}

#head1{
    text-align:center;
    color: #00FFFF;
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 120%;
}

#head2{
    text-align: center;
    color: #00FFFF;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 100%;
}
